.main-basketball {
  display: flex;
  flex-direction: column;
    .title {
      margin: auto;
      font-size: 24px;
      font-weight: bold;
    }
  .list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
    .item-block {
      display: flex;
      flex-direction: column;
      margin: 0 50px;
      img {
        max-width: 350px;
        min-width: 100px;
        max-height: 200px;
        height: 100%;
      }
    }
  }
}